<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="sqliteConn" connectionString="SQLite-EncryptedConnectionString" />
		<add name="mssqlConn" connectionString="MSSQL-EncryptedConnectionString" providerName="System.Data.SqlClient" />
		<add name="msaccessConn" connectionString="MS Access-EncryptedConnectionString" providerName="System.Data.OleDb" />
		<add name="mysqlConn" connectionString="MySql-EncryptedConnectionString" />
	</connectionStrings>
	<appSettings>
		<add key="logFolderPath" value="C:\Temp\CRUDLibrary\Test\Logs\" />
		<add key="msaccessDbFolderPath" value="C:\Temp\CRUDLibrary\Test\App_Data\"/>
		<add key="oraTNSConn" value="Oracle-EncryptedConnectionString"/>
	</appSettings>
</configuration>